/*Small Screen */

@media (max-width: 760px) {

    h1{
      font-size: 20px;
    }

    h2{
      font-size: 18px;
    }
    header.flex-row{
        flex-direction: column;
    }

    header h1{
      padding-top: 2rem;
      padding-bottom: 2rem;
      font-size: 24px;
    }

    header a{
      font-size: 12px;
    }

    .container-info h1{
      padding-top: 2rem;
      padding-bottom: 2rem;
    }

    .container-experience .titre{
      padding-bottom: 2rem;
      padding-top: 2rem;
    }

    .container-experience .flex-row{
      flex-direction: column;
    }

    .container-info span, .container-info p{
      font-size: 12px;
    }

    .container-experience p{
      font-size: 14px;
    }

    .container-cv .grid-2x2 h2{
      font-size: 12px;
    }
    .container-cv .grid-2x1{
      font-size: 9px;
    }

    footer{
      font-size: 9px;
    }

}

/* 1920x1080+ screen */

@media (min-width: 1072px) {
    .img-moi{
      width: 128px;
      height:128px;
    }

    header h1{
      font-size: 2.5vw;
    }
}

/* Irregular Screen*/

@media (min-width: 761px) and (max-width: 1071px) {
  .img-moi{
    width: 96px;
    height: 96px;
  }

  header h1{
    font-size: 3vw;
  }
}
  