@import "_variables";

* {
  scroll-behavior: smooth;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: sans-serif;
  font-size: 16px;
  background-color: $DarkGray;
  height: 100rem;
}

a{
  text-decoration: none;
}

ul{
  list-style: none;
}

h1{
  font-size: 2vw;
}

h2{
  font-size: 1.8vw;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: $DarkRed;
  border: 0px none #ffffff;
  border-radius: 20px;
}
::-webkit-scrollbar-thumb:active {
  background: $Red;
}
::-webkit-scrollbar-track {
  background: $DarkGray;
  border: 0px none #ffffff;
  border-radius: 20px;
}
::-webkit-scrollbar-track:active {
  background: $Gray;
}
::-webkit-scrollbar-corner {
  background: transparent;
}

/* Header */

header .flex-row:nth-child(1) {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}

header .flex-row:nth-child(2) {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}

header .flex-row:nth-child(3) {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
  margin-right: 20px;
}

header{
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: $DarkGray;
  top: 0;
  width: 100%;
}

header h1{
  cursor: progress;
  color: whitesmoke;
}

header a{
  color: white;
  font-size: 18px;

}

.img-moi{
  display: inline-block;
  width: 72px;
  height: 72px;;
  animation: rotate 0.5s infinite linear;
  -webkit-animation: rotate 60s infinite linear;
  -moz-animation: rotate 60s infinite linear;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to { 
    transform: rotate(360deg);
  }
}

.splitter{
  display: block;
  background-color: $DarkGray;
}

.waves {
  position: relative;
  width: 100%;
  height: 60px;
  margin-bottom: -7px; // Fix le gap safari
  min-height: 100px;
  max-height: 150px;
}

.waves2 {
  transform: rotate(180deg);
  position: relative;
  top: 3px; // Fix le white gap
  height: 60px;
  min-height: 60px;
  width: 100%;
  margin-bottom: -7px;
  min-height: 100px;
  max-height: 150px;
}

/* Animation */
.parallax > use:nth-child(1) {
  -webkit-animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
          animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
  -webkit-animation-delay: -2s;
          animation-delay: -2s;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
}

.parallax > use:nth-child(2) {
  -webkit-animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
          animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
  -webkit-animation-delay: -3s;
          animation-delay: -3s;
  -webkit-animation-duration: 15s;
          animation-duration: 15s;
}

.parallax > use:nth-child(3) {
  -webkit-animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
          animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
  -webkit-animation-delay: -4s;
          animation-delay: -4s;
  -webkit-animation-duration: 20s;
          animation-duration: 20s;
}

.parallax > use:nth-child(4) {
  -webkit-animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
          animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
  -webkit-animation-delay: -5s;
          animation-delay: -5s;
  -webkit-animation-duration: 25s;
          animation-duration: 25s;
}

@-webkit-keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}

@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}

@media (max-width: 1160px) {
  .waves {
    height: 40px;
    min-height: 40px;
  }
  .waves2 {
    height: 40px;
    min-height: 40px;
  }
}

/* Main */

main{
  justify-content: center;
  display: block;
  margin: 0 auto;
  margin-top: 6rem;
  margin-bottom: 6rem;
  width: 85%;
  height: 103rem;
  color: $DarkGray;
  background-color: white;
  border: 5px outset #FFFFFF;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  box-shadow: 5px 5px 15px 5px #000000;
  -webkit-box-shadow: 5px 5px 15px 5px #000000; 
  -moz-box-shadow: 5px 5px 15px 5px #000000; 
}

main .splitter{
  width: 90%;
  background-color: $Red;
  border: 0.5px solid $Red;   	
  border-radius: 50px 50px 50px 50px;
  -webkit-border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
}

.container-info{
  font-size: 1.1vw;
}

.container-info h1{
  padding-top: 3rem;
  padding-bottom: 3rem;
  text-align: center;
}

.container-info h2{
  padding-bottom: 1.5vh;
}

.container-info p{
  display: inline;
  margin: auto;
  text-align: center;
  width: 70%;
}

.container-info .grid-2x1{
  padding-top: 0.7vh;
  font-size: 1.35vw;
}

.container-experience .flex-row{
  width: 75%;
  justify-content: space-between;
}

.container-experience .titre{
  text-align: center;
  width: 50%;
  align-items: center ;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.container-experience{
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.container-experience p{
  padding-top: 2rem;
  padding-bottom: 2rem;
}


.container-experience .titre span{
  width: 100%;
}


.container-experience .flex-row{
  width: 80%;
}

.container-experience p{
  width: 70%;
}


.container-cv h1{
    padding-top: 2vh;
    padding-bottom: 2vh;
    text-align: center;
}

.container-cv h2{
  padding-bottom: 1.2vh;
}

.container-cv .grid-2x1{
  text-align: center;
  align-items: center;
}

.container-cv .grid-2x1{
  padding-top: 0.7vh;
  font-size: 1.35vw;
  grid-column-gap: 10px;
}

.container-cv .grid-2x1 .flex-col .grid-2x1 .grid-item-left span{
  margin-right: 0.5vw;
  margin-bottom: 0.3vw;
}

.etoile-full{
  color : $Gold;
}

/* Footer */

footer{
  font-size: 1.1vw;
  color: whitesmoke;
  display: block;
  margin: auto;
  width: 75%;
  padding-top: 6rem;
  padding-bottom: 4rem;
}

footer .links{
  margin-top: 60px;
  margin-bottom: 60px;
}

footer .links button{
  all: unset;
  cursor: pointer;
}

footer .links button:nth-child(2){
  margin-left: 30px;
  margin-right: 30px;
}

.social-icon{
  width: 64px;
  height: 64px;
  background-color: $DarkGray;
}


