@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");
* {
  scroll-behavior: smooth;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  background-color: RGB(40, 40, 40);
  height: auto;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

h1 {
  font-size: 1.5vw;
}

h2 {
  font-size: 1.3vw;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-thumb {
  background: RGB(135, 0, 0);
  border: 0px none #ffffff;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:active {
  background: RGB(180, 0, 0);
}

::-webkit-scrollbar-track {
  background: RGB(40, 40, 40);
  border: 0px none #ffffff;
  border-radius: 20px;
}

::-webkit-scrollbar-track:active {
  background: RGB(100, 100, 100);
}

::-webkit-scrollbar-corner {
  background: transparent;
}

/* Header */
header .flex-row:nth-child(1) {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}

header .flex-row:nth-child(2) {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}

header .flex-row:nth-child(3) {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
  margin-right: 20px;
}

header {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: RGB(40, 40, 40);
  top: 0;
  width: 100%;
}

header h1 {
  cursor: progress;
  color: whitesmoke;
}

header a {
  color: white;
  font-size: 18px;
}

.img-moi {
  display: inline-block;
  width: 72px;
  height: 72px;
  animation: rotate 0.5s infinite linear;
  -webkit-animation: rotate 60s infinite linear;
  -moz-animation: rotate 60s infinite linear;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.splitter {
  display: block;
  background-color: RGB(40, 40, 40);
}

.waves {
  position: relative;
  width: 100%;
  height: 60px;
  margin-bottom: -7px;
  min-height: 100px;
  max-height: 150px;
}

.waves2 {
  transform: rotate(180deg);
  position: relative;
  top: 3px;
  height: 60px;
  min-height: 60px;
  width: 100%;
  margin-bottom: -7px;
  min-height: 100px;
  max-height: 150px;
}

/* Animation */
.parallax > use:nth-child(1) {
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
  animation-delay: -2s;
  animation-duration: 10s;
}

.parallax > use:nth-child(2) {
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
  animation-delay: -3s;
  animation-duration: 15s;
}

.parallax > use:nth-child(3) {
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
  animation-delay: -4s;
  animation-duration: 20s;
}

.parallax > use:nth-child(4) {
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
  animation-delay: -5s;
  animation-duration: 25s;
}
@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}
@media (max-width: 1160px) {
  .waves {
    height: 40px;
    min-height: 40px;
  }
  .waves2 {
    height: 40px;
    min-height: 40px;
  }
}
/* Main */
main {
  justify-content: center;
  display: block;
  margin: 0 auto;
  margin-top: 6rem;
  margin-bottom: 6rem;
  width: 85%;
  height: auto;
  color: RGB(40, 40, 40);
  background-color: white;
  border: 5px outset #FFFFFF;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  box-shadow: 5px 5px 15px 5px #000000;
  -webkit-box-shadow: 5px 5px 15px 5px #000000;
  -moz-box-shadow: 5px 5px 15px 5px #000000;
}

main .splitter {
  width: 90%;
  background-color: RGB(180, 0, 0);
  border: 0.5px solid RGB(180, 0, 0);
  border-radius: 50px 50px 50px 50px;
  -webkit-border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
}

.container-info {
  font-size: 1.1vw;
}

.container-info h1 {
  padding-top: 3rem;
  padding-bottom: 3rem;
  text-align: center;
}

.container-info h2 {
  padding-bottom: 1.5vh;
}

.container-info p {
  display: inline;
  margin: auto;
  text-align: center;
  width: 70%;
}

.container-info .grid-2x1 {
  padding-top: 0.7vh;
  font-size: 1.35vw;
}

.container-experience .exp-informatique {
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.container-experience .flex-row {
  width: 75%;
  justify-content: space-between;
}

.container-experience .titre {
  text-align: center;
  width: 50%;
  align-items: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.container-experience .titre h1 {
  padding-bottom: 15px;
}

.container-experience {
  padding-bottom: 3rem;
}

.container-experience p {
  width: 60%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 20px;
}

.container-experience .titre span {
  width: 100%;
}

.container-experience .flex-row {
  width: 80%;
}

.container-experience p {
  width: 70%;
}

.container-cv {
  padding-bottom: 1rem;
}

.container-cv h1 {
  padding-top: 1.5vh;
  padding-bottom: 1.5vh;
  text-align: center;
}

.container-cv h2 {
  padding-bottom: 1.2vh;
}

.container-cv .grid-2x1 {
  text-align: center;
  align-items: center;
}

.container-cv .grid-2x1 {
  padding-top: 5px;
  font-size: 1.2vw;
  grid-column-gap: 15px;
}

.container-cv .grid-2x2 {
  grid-column-gap: 30px;
}

.container-cv .grid-2x1 .flex-col .grid-2x1 .grid-item-left span {
  margin-right: 0.5vw;
  margin-bottom: 0.3vw;
}

.etoile-full {
  color: RGB(255, 180, 0);
}

/* Footer */
footer {
  font-size: 1.1vw;
  color: whitesmoke;
  display: block;
  margin: auto;
  width: 75%;
  padding-top: 6rem;
  padding-bottom: 4rem;
}

footer .links {
  margin-top: 60px;
  margin-bottom: 60px;
}

footer .links button {
  all: unset;
  cursor: pointer;
}

footer .links button:nth-child(2) {
  margin-left: 30px;
  margin-right: 30px;
}

.social-icon {
  width: 64px;
  height: 64px;
  background-color: RGB(40, 40, 40);
}/*# sourceMappingURL=styles.css.map */